<h1> Create a new post! </h1>

<% if flash[:post_errors] %>
  <ul>
    <% flash[:post_errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<% if @current_user %>
<%= form_for @post do |f| %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <br>
    <br>
    Title: <%= f.text_field :title %><br />
    <br>
    <br>
    <p> Content: <%= f.text_area :content %><br /> </p> 
    <%= f.submit %>
<% end %>
  <% else %>
    <p>Please log in to create a post</p>
<% end %>