 <h1> Post Page </h1>
<br>
<h2> Title: <%= @post.title %> </h2>
<h2> Content: <%= @post.content %> </h2>
<h2> Author: <%= @post.user.username %> </h2>
<br>
<%= button_to "Edit/Delete #{@post.title}", edit_post_path(@post), method: :edit %><br>

<h3> Comment on this post: </h3>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.text_area :comment %>
    <br>
    <%= f.submit 'Post Comment' %>
<% end %> 
<% else %>
  <p>Please sign up if you want to comment on this post</p>
<% end %>

<h2> Comments </h2>
  <p> <% @post.comments.each do |comment| %> </p>
    <h3> <%= comment.user.username %></h3>
  <%= comment.comment %>
<% end %> 